* {
    margin: 0px;
}
body {
    background-color: #000;
}
#container {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
@keyframes moveDownAnimation {
    100% {
        background-position-y: 100%;
    }
}
#rgb_screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("rgb.jpg");
    z-index: 10;
    background-size: 0.7vh auto;
    mix-blend-mode: overlay;
    pointer-events: none;
    opacity: 0.6;
    animation: moveDownAnimation 100s linear infinite;
}
#gray_screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("gray_screen.png");
    z-index: 11;
    background-size: 100% 100%;
    mix-blend-mode: overlay;
    pointer-events: none;
    opacity: 0.5;
}
#dark {
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: 1s;
}
#contoler {
    position: absolute;
    bottom: 5vh;
    left: 5vh;
    width: 55vh;
    height: 10vh;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@keyframes start_anim {
    0% {color: #f8fff6;}
    100% {color: #ff6e6e;}
}
#play {
    animation: start_anim 1s alternate infinite;
}
.button {
    margin: auto;
    font-size: 4vh;
    color: #f8fff6;
    text-shadow: 0px 0px 5vh #ffebeb;
    transition: 1s;
}
.button:hover {
    text-shadow: 0px 0px 1vh #ffcbcb;
}
#volume {
    margin: auto;
    width: 20vh;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 1s;
}
.volume_level {
    display: inline-block;
    width: 1.9vh;
    height: 3vh;
    background-color: #ff6e6e;
    transition: 0.5s;
}
.volume_level:nth-child(1){
    border-radius: 1vh 0vh 0vh 1vh;
}
.volume_level:nth-child(10){
    border-radius: 0vh 1vh 1vh 0vh;
}